

p {
    font-family: 'Poppins', sans-serif;
}


#load_server{
  color:red;
}

img {
    width:256px;
    height:256px;
}


.container {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  
  
  .scroll-container p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 70%;
    margin-right: -4px;
  }
  
  .input-form #boton {
    width:100px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3bcd6c;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    display:none;
  }
  
  .input-form #boton:hover {
    background-color: #3477b9;
  }
  


